@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* html,
body {
  @apply bg-slate-700;
} */
@layer components {
  .card {
    background-color: #334155;
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
    text-align: center;
  }
  .card:hover {
    -ms-transform: scale(1.15); /* IE 9 */
    -webkit-transform: scale(1.15); /* Safari 3-8 */
    transform: scale(1.1);
    background-color: #5fd12e;
  }
  .cardo {
    background-color: theme('colors.black');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
  body {
    @apply bg-slate-900;
  }
}
